# Copyright (C) 2017 eWheeler, Inc. <copyright@o.ewheeler.net>
#
# This file is part of fwtree.
# 
# fwtree is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# fwtree is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with fwtree.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=Tree-driven firewall

Before=network.target
Before=libvirtd.service

After=firewalld.service

Conflicts=iptables.service ip6tables.service ebtables.service firewalld.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/bin/sh -c 'ipset-helper -c'
ExecStart=/bin/sh -c 'fwtree | iptables-restore'

ExecReload=/bin/sh -c 'ipset-helper -c ; fwtree | iptables-restore'

ExecStop=/bin/sh -c 'iptables-restore < /usr/share/fwtree/fwtree-stop.ruleset'
